<nav class="navbar navbar-default navbar-static-top col-lg-12">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/reservation">VM Reservation</a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
        </div>
        <div class="nav navbar-nav navbar-right">
            <li><a href="/profil">Profil</a></li>
        </div>
    </div>
</nav>